.navbar--no-border {
	border-radius: 0!important;
}
.text-bold {
	font-weight: bold;
}
.table__clickable {
	cursor: pointer;
}
.table__clickable:hover td {
	background-color: #dfffd4;
}
.modal-mine {
	display: block!important;
	background-color: rgba(193, 193, 193, 0.85);
}
.form-group--task strong {
	word-wrap: break-word;
}