<div class="modal fade in modal-mine" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ task.name }}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group form-group--task">
                    <div ng-show="isEdited.name === true">
                        <input class="form-control" ng-model="task.name" value="{{ task.name }}">
                    </div>
                    <div ng-show="isEdited.name !== true">
                        <label>Название</label>
                        <strong ng-show="task.name">{{ task.name }}</strong>
                        <strong ng-show="!task.name">Нет названия</strong>
                        <span class="glyphicon glyphicon-pencil" ng-click="edit('name')"></span>
                    </div>
                </div>
                <div class="form-group form-group--task">
                    <div ng-show="isEdited.description === true">
                        <textarea class="form-control" rows="3" ng-model="task.description" value="{{ task.description }}"></textarea>
                    </div>
                    <div ng-show="isEdited.description !== true">
                        <label>Описание</label>
                        <strong ng-show="task.description">{{ task.description }}</strong>
                        <strong ng-show="!task.description">Нет описания</strong>
                        <span class="glyphicon glyphicon-pencil" ng-click="edit('description')"></span>
                    </div>
                </div>
                <div class="form-group form-group--task">
                    <label>Дата создания</label>
                    <strong ng-show="task.creation_date">{{ task.creation_date | date: 'dd.MM.yyyy' }}</strong>
                    <strong ng-show="!task.creation_date">Нет даты начала</strong>
                </div>
                <div class="form-group form-group--task">
                    <label>Дата взятия задачи</label>
                    <strong ng-show="task.start_date">{{ task.start_date | date: 'dd.MM.yyyy' }}</strong>
                    <strong ng-show="!task.start_date">Нет даты старта</strong>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="back()">Закрыть</button>
                <button type="button" class="btn btn-primary" ng-click="save()">Сохранить</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->