<table class="table table-striped">
    <thead>
    <tr>
        <th>Название задачи</th>
        <th>Потраченое время</th>
        <th>Общая оценка</th>
        <th>Дата окончания</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-class="{ 'danger': item.is_high_priority === true }"
            data-ng-repeat="item in content"
            class="table__clickable"
            ng-click="openTask(item)">
                <td ng-class="{ 'text-bold': item.is_high_priority === true }" class="table__name-ticket">{{ item.name }}</td>
                <td>{{ item.actual_effort }}</td>
                <td>{{ item.estimated_effort }}</td>
                <td>{{ item.due_date | date:'dd.MM.yyyy' }}</td>
        </tr>
    </tbody>
</table>